:root {
  --white: #fff;
  --light-gray: #f5f5f5;
  --dark-gray: #333;
  --green: #00ab35;
  --blue: #44a5de;
  --red: #c82626;
}

body {
  margin: 0;
  color: var(--dark-gray);
  font: 16px sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.error {
  margin: 0px 30px;
  color: red;
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
